body {
    background-color: midnightblue;
    font-family: Arial, Helvetica, sans-serif;
    margin: 40px;
}
h1 {
    text-align: center;
    color: rgb(154, 146, 220);
}

h3 {
    text-align: center;
    font-style: italic;
}

.projects { display:flex; 
           flex-wrap:wrap; 
} 
.project {
width: 30%;
margin: 10px;
padding: 20px 10px;
background: rgb(154, 146, 220); /* pick a color */
border-radius: 25%;
}

.project img{
    width: 300px;
    height: 300px;
    margin: 10px;
    border: 2px solid rgb(126, 14, 201); /* choose a color */
    display: block;
    margin: auto;
}

a{
    text-decoration: none;
    color: rgb(126, 14, 201);
}

.project p {
    text-align: center;
    margin: 15px;
}

.about{
    display:flex;
    flex-wrap:wrap;
    margin-right: 100px;
    margin-left: 100px;
    justify-content: center;
    }

    .about img {
        width: 50px;
        height: 50px;
        border-radius: 25%;
        border: 2px solid rgb(126, 14, 201);
        }

        .about p {
            width:50%;
            text-align: center;
            margin: auto;
            line-height: 125%;
            }
